
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #222;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}



.hero {
    background: url('images/hero.jpg') center/cover no-repeat;
    height: 85vh;
    color: rgb(19, 17, 17);
    position: relative;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu a {
    color: rgb(10, 8, 8);
    text-decoration: none;
}

.hero-text {
    position: absolute;
    top: 35%;
    left: 40px;
    max-width: 500px;
}

.hero-text h1 {
    font-size: 38px;
    margin-bottom: 12px;
}

.hero-buttons {
    margin-top: 20px;
}

.btn-red {
    background: #ff3b3b;
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

.btn-border {
    border: 1px solid rgb(5, 4, 4);
    padding: 12px 24px;
    border-radius: 4px;
    color: rgb(8, 7, 7);
    margin-left: 10px;
    text-decoration: none;
}



.services-top {
    padding: 60px 40px;
}

.services-row {
    display: flex;
    gap: 20px;
}

.box {
    flex: 1;
    padding: 25px;
    border-radius: 6px;
    color: white;
    text-align: center;
}

.red-bg { background: #ff3b3b; }
.dark-bg { background: #222; }
.darker-bg { background: #111; }

.box i {
    font-size: 28px;
    margin-bottom: 10px;
}



.best-services {
    padding: 60px 40px;
    text-align: center;
}

.highlight { color: #ff3b3b; }

.icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 40px;
}

.icon-grid div {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 6px;
}

.icon-grid i {
    font-size: 28px;
    color: #ff3b3b;
}



.dark-banner {
    background: #111;
    display: flex;
    padding: 60px;
    gap: 40px;
    color: white;
}

.dark-banner img {
    width: 300px;
    border-radius: 6px;
}



.service-details {
    padding: 60px;
}

.details-row {
    display: flex;
    gap: 40px;
}

.details-row .col {
    flex: 1;
}

.service-details h4 {
    color: #ff3b3b;
    margin-bottom: 6px;
}



.gallery {
    padding: 60px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 6px;
}



.contact {
    padding: 60px;
}

form {
    max-width: 650px;
    margin: auto;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 4px;
}

textarea {
    height: 130px;
}



footer {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

